<?php
return [
    'db' => [
        'host' => 'localhost',
        'name' => 'storage',
        'user' => 'storage',
        'pass' => 'secretpass',
        'charset' => 'utf8mb4'
    ],
    // Memory limit for the scan script. Default: 2048M
    // You can use M for megabytes, or G for gigabytes. For example: 1024M, 2G.
    'scan_memory_limit' => '2048M',
];